[submodule "exercises/timeloop+accelergy_additional_designs/example_designs/simple_pim"]
	path = exercises/timeloop+accelergy_additional_designs/example_designs/simple_pim
	url = https://github.com/Accelergy-Project/processing-in-memory-example.git
